--
-- PostgreSQL database dump
--

\restrict RZPavV5k75AcN2uKN7ObBKbwKY9OEvd6Hv5KrHJ4GDGMiUqap4yfQ82YXsQDFu5

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_role; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.accounts_role (
    id bigint NOT NULL,
    slug character varying(50) NOT NULL,
    name character varying(120) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.accounts_role OWNER TO dhyan;

--
-- Name: accounts_role_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.accounts_role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.accounts_user (
    password character varying(128) NOT NULL,
    is_superuser boolean NOT NULL,
    id bigint NOT NULL,
    email character varying(254) NOT NULL,
    full_name character varying(200) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    last_login timestamp with time zone
);


ALTER TABLE public.accounts_user OWNER TO dhyan;

--
-- Name: accounts_user_groups; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.accounts_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_user_groups OWNER TO dhyan;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.accounts_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.accounts_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_user_permissions; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.accounts_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_user_user_permissions OWNER TO dhyan;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.accounts_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_userrole; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.accounts_userrole (
    id bigint NOT NULL,
    assigned_at timestamp with time zone NOT NULL,
    role_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.accounts_userrole OWNER TO dhyan;

--
-- Name: accounts_userrole_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.accounts_userrole ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_userrole_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO dhyan;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO dhyan;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO dhyan;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO dhyan;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO dhyan;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO dhyan;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO dhyan;

--
-- Name: patients_childprofile; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.patients_childprofile (
    id bigint NOT NULL,
    date_of_birth date,
    gender character varying(20) NOT NULL,
    diagnosis_notes text NOT NULL,
    clinical_notes text NOT NULL,
    consent_audio boolean NOT NULL,
    consent_video boolean NOT NULL,
    consent_face boolean NOT NULL,
    consent_ai boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.patients_childprofile OWNER TO dhyan;

--
-- Name: patients_childprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.patients_childprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.patients_childprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: patients_guardian; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.patients_guardian (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    relation character varying(80) NOT NULL,
    phone character varying(40) NOT NULL,
    email character varying(254) NOT NULL,
    address text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    child_profile_id bigint NOT NULL
);


ALTER TABLE public.patients_guardian OWNER TO dhyan;

--
-- Name: patients_guardian_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.patients_guardian ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.patients_guardian_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: patients_therapistchildassignment; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.patients_therapistchildassignment (
    id bigint NOT NULL,
    is_primary boolean NOT NULL,
    assigned_at timestamp with time zone NOT NULL,
    child_user_id bigint NOT NULL,
    therapist_id bigint NOT NULL
);


ALTER TABLE public.patients_therapistchildassignment OWNER TO dhyan;

--
-- Name: patients_therapistchildassignment_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.patients_therapistchildassignment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.patients_therapistchildassignment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: speech_asrjob; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.speech_asrjob (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    status character varying(20) NOT NULL,
    provider character varying(50) NOT NULL,
    model_name character varying(120) NOT NULL,
    result_text text NOT NULL,
    result_confidence double precision,
    error text NOT NULL,
    created_by_id bigint NOT NULL,
    trial_id bigint NOT NULL
);


ALTER TABLE public.speech_asrjob OWNER TO dhyan;

--
-- Name: speech_asrjob_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.speech_asrjob ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.speech_asrjob_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: speech_speechtrialaudio; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.speech_speechtrialaudio (
    id bigint NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    content_type character varying(120) NOT NULL,
    size_bytes bigint NOT NULL,
    duration_ms integer,
    file character varying(100) NOT NULL,
    trial_id bigint NOT NULL,
    uploaded_by_id bigint NOT NULL
);


ALTER TABLE public.speech_speechtrialaudio OWNER TO dhyan;

--
-- Name: speech_speechtrialaudio_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.speech_speechtrialaudio ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.speech_speechtrialaudio_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: speech_speechtrialmeta; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.speech_speechtrialmeta (
    id bigint NOT NULL,
    target_text character varying(200) NOT NULL,
    target_phoneme character varying(50) NOT NULL,
    category character varying(120) NOT NULL,
    language character varying(10) NOT NULL,
    difficulty integer NOT NULL,
    therapist_transcript character varying(500) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    trial_id bigint NOT NULL
);


ALTER TABLE public.speech_speechtrialmeta OWNER TO dhyan;

--
-- Name: speech_speechtrialmeta_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.speech_speechtrialmeta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.speech_speechtrialmeta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: therapy_observation; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.therapy_observation (
    id bigint NOT NULL,
    note text NOT NULL,
    tags jsonb NOT NULL,
    rating integer,
    created_at timestamp with time zone NOT NULL,
    therapist_id bigint NOT NULL,
    trial_id bigint,
    session_id bigint NOT NULL
);


ALTER TABLE public.therapy_observation OWNER TO dhyan;

--
-- Name: therapy_observation_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.therapy_observation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.therapy_observation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: therapy_sessiontrial; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.therapy_sessiontrial (
    id bigint NOT NULL,
    trial_type character varying(120) NOT NULL,
    prompt text NOT NULL,
    target_behavior character varying(200) NOT NULL,
    status character varying(20) NOT NULL,
    started_at timestamp with time zone,
    ended_at timestamp with time zone,
    score integer,
    success boolean,
    created_at timestamp with time zone NOT NULL,
    session_id bigint NOT NULL
);


ALTER TABLE public.therapy_sessiontrial OWNER TO dhyan;

--
-- Name: therapy_sessiontrial_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.therapy_sessiontrial ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.therapy_sessiontrial_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: therapy_therapysession; Type: TABLE; Schema: public; Owner: dhyan
--

CREATE TABLE public.therapy_therapysession (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    session_date date NOT NULL,
    started_at timestamp with time zone,
    ended_at timestamp with time zone,
    title character varying(200) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    child_id bigint NOT NULL,
    therapist_id bigint NOT NULL
);


ALTER TABLE public.therapy_therapysession OWNER TO dhyan;

--
-- Name: therapy_therapysession_id_seq; Type: SEQUENCE; Schema: public; Owner: dhyan
--

ALTER TABLE public.therapy_therapysession ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.therapy_therapysession_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_role accounts_role_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_role
    ADD CONSTRAINT accounts_role_pkey PRIMARY KEY (id);


--
-- Name: accounts_role accounts_role_slug_key; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_role
    ADD CONSTRAINT accounts_role_slug_key UNIQUE (slug);


--
-- Name: accounts_user accounts_user_email_key; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_email_key UNIQUE (email);


--
-- Name: accounts_user_groups accounts_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_user_id_group_id_59c0b32f_uniq; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_group_id_59c0b32f_uniq UNIQUE (user_id, group_id);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq UNIQUE (user_id, permission_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_userrole accounts_userrole_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_userrole
    ADD CONSTRAINT accounts_userrole_pkey PRIMARY KEY (id);


--
-- Name: accounts_userrole accounts_userrole_user_id_role_id_9790efc1_uniq; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_userrole
    ADD CONSTRAINT accounts_userrole_user_id_role_id_9790efc1_uniq UNIQUE (user_id, role_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: patients_childprofile patients_childprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.patients_childprofile
    ADD CONSTRAINT patients_childprofile_pkey PRIMARY KEY (id);


--
-- Name: patients_childprofile patients_childprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.patients_childprofile
    ADD CONSTRAINT patients_childprofile_user_id_key UNIQUE (user_id);


--
-- Name: patients_guardian patients_guardian_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.patients_guardian
    ADD CONSTRAINT patients_guardian_pkey PRIMARY KEY (id);


--
-- Name: patients_therapistchildassignment patients_therapistchilda_therapist_id_child_user__a8d648aa_uniq; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.patients_therapistchildassignment
    ADD CONSTRAINT patients_therapistchilda_therapist_id_child_user__a8d648aa_uniq UNIQUE (therapist_id, child_user_id);


--
-- Name: patients_therapistchildassignment patients_therapistchildassignment_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.patients_therapistchildassignment
    ADD CONSTRAINT patients_therapistchildassignment_pkey PRIMARY KEY (id);


--
-- Name: speech_asrjob speech_asrjob_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.speech_asrjob
    ADD CONSTRAINT speech_asrjob_pkey PRIMARY KEY (id);


--
-- Name: speech_speechtrialaudio speech_speechtrialaudio_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.speech_speechtrialaudio
    ADD CONSTRAINT speech_speechtrialaudio_pkey PRIMARY KEY (id);


--
-- Name: speech_speechtrialaudio speech_speechtrialaudio_trial_id_key; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.speech_speechtrialaudio
    ADD CONSTRAINT speech_speechtrialaudio_trial_id_key UNIQUE (trial_id);


--
-- Name: speech_speechtrialmeta speech_speechtrialmeta_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.speech_speechtrialmeta
    ADD CONSTRAINT speech_speechtrialmeta_pkey PRIMARY KEY (id);


--
-- Name: speech_speechtrialmeta speech_speechtrialmeta_trial_id_key; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.speech_speechtrialmeta
    ADD CONSTRAINT speech_speechtrialmeta_trial_id_key UNIQUE (trial_id);


--
-- Name: therapy_observation therapy_observation_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.therapy_observation
    ADD CONSTRAINT therapy_observation_pkey PRIMARY KEY (id);


--
-- Name: therapy_sessiontrial therapy_sessiontrial_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.therapy_sessiontrial
    ADD CONSTRAINT therapy_sessiontrial_pkey PRIMARY KEY (id);


--
-- Name: therapy_therapysession therapy_therapysession_pkey; Type: CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.therapy_therapysession
    ADD CONSTRAINT therapy_therapysession_pkey PRIMARY KEY (id);


--
-- Name: accounts_ro_slug_a1377f_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX accounts_ro_slug_a1377f_idx ON public.accounts_role USING btree (slug);


--
-- Name: accounts_role_slug_df8fb6a2_like; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX accounts_role_slug_df8fb6a2_like ON public.accounts_role USING btree (slug varchar_pattern_ops);


--
-- Name: accounts_us_role_id_3b7362_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX accounts_us_role_id_3b7362_idx ON public.accounts_userrole USING btree (role_id);


--
-- Name: accounts_us_user_id_d06a5b_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX accounts_us_user_id_d06a5b_idx ON public.accounts_userrole USING btree (user_id);


--
-- Name: accounts_user_email_b2644a56_like; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX accounts_user_email_b2644a56_like ON public.accounts_user USING btree (email varchar_pattern_ops);


--
-- Name: accounts_user_groups_group_id_bd11a704; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX accounts_user_groups_group_id_bd11a704 ON public.accounts_user_groups USING btree (group_id);


--
-- Name: accounts_user_groups_user_id_52b62117; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX accounts_user_groups_user_id_52b62117 ON public.accounts_user_groups USING btree (user_id);


--
-- Name: accounts_user_user_permissions_permission_id_113bb443; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX accounts_user_user_permissions_permission_id_113bb443 ON public.accounts_user_user_permissions USING btree (permission_id);


--
-- Name: accounts_user_user_permissions_user_id_e4f0a161; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX accounts_user_user_permissions_user_id_e4f0a161 ON public.accounts_user_user_permissions USING btree (user_id);


--
-- Name: accounts_userrole_role_id_9448d870; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX accounts_userrole_role_id_9448d870 ON public.accounts_userrole USING btree (role_id);


--
-- Name: accounts_userrole_user_id_eba3c754; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX accounts_userrole_user_id_eba3c754 ON public.accounts_userrole USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: patients_ch_created_a5093e_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX patients_ch_created_a5093e_idx ON public.patients_childprofile USING btree (created_at);


--
-- Name: patients_ch_updated_19f09b_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX patients_ch_updated_19f09b_idx ON public.patients_childprofile USING btree (updated_at);


--
-- Name: patients_gu_child_p_8763c5_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX patients_gu_child_p_8763c5_idx ON public.patients_guardian USING btree (child_profile_id, created_at);


--
-- Name: patients_guardian_child_profile_id_b689a2e4; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX patients_guardian_child_profile_id_b689a2e4 ON public.patients_guardian USING btree (child_profile_id);


--
-- Name: patients_th_child_u_261177_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX patients_th_child_u_261177_idx ON public.patients_therapistchildassignment USING btree (child_user_id);


--
-- Name: patients_th_therapi_97ebd5_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX patients_th_therapi_97ebd5_idx ON public.patients_therapistchildassignment USING btree (therapist_id);


--
-- Name: patients_therapistchildassignment_child_user_id_1909865b; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX patients_therapistchildassignment_child_user_id_1909865b ON public.patients_therapistchildassignment USING btree (child_user_id);


--
-- Name: patients_therapistchildassignment_therapist_id_f6e631cb; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX patients_therapistchildassignment_therapist_id_f6e631cb ON public.patients_therapistchildassignment USING btree (therapist_id);


--
-- Name: speech_asrj_status_2bd4a4_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX speech_asrj_status_2bd4a4_idx ON public.speech_asrjob USING btree (status, created_at);


--
-- Name: speech_asrj_trial_i_7a7d66_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX speech_asrj_trial_i_7a7d66_idx ON public.speech_asrjob USING btree (trial_id, created_at);


--
-- Name: speech_asrjob_created_by_id_b60ba9d2; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX speech_asrjob_created_by_id_b60ba9d2 ON public.speech_asrjob USING btree (created_by_id);


--
-- Name: speech_asrjob_trial_id_a3c09c90; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX speech_asrjob_trial_id_a3c09c90 ON public.speech_asrjob USING btree (trial_id);


--
-- Name: speech_spee_categor_725a45_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX speech_spee_categor_725a45_idx ON public.speech_speechtrialmeta USING btree (category, language);


--
-- Name: speech_spee_difficu_36c2e8_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX speech_spee_difficu_36c2e8_idx ON public.speech_speechtrialmeta USING btree (difficulty);


--
-- Name: speech_spee_uploade_fd09a4_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX speech_spee_uploade_fd09a4_idx ON public.speech_speechtrialaudio USING btree (uploaded_at);


--
-- Name: speech_speechtrialaudio_uploaded_by_id_d759d5d4; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX speech_speechtrialaudio_uploaded_by_id_d759d5d4 ON public.speech_speechtrialaudio USING btree (uploaded_by_id);


--
-- Name: therapy_obs_session_feed8e_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_obs_session_feed8e_idx ON public.therapy_observation USING btree (session_id, created_at);


--
-- Name: therapy_obs_therapi_2f5c40_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_obs_therapi_2f5c40_idx ON public.therapy_observation USING btree (therapist_id, created_at);


--
-- Name: therapy_observation_session_id_af611a03; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_observation_session_id_af611a03 ON public.therapy_observation USING btree (session_id);


--
-- Name: therapy_observation_therapist_id_83e4b7dd; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_observation_therapist_id_83e4b7dd ON public.therapy_observation USING btree (therapist_id);


--
-- Name: therapy_observation_trial_id_fdf13170; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_observation_trial_id_fdf13170 ON public.therapy_observation USING btree (trial_id);


--
-- Name: therapy_ses_session_f6c2ef_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_ses_session_f6c2ef_idx ON public.therapy_sessiontrial USING btree (session_id, created_at);


--
-- Name: therapy_ses_status_ea2e00_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_ses_status_ea2e00_idx ON public.therapy_sessiontrial USING btree (status);


--
-- Name: therapy_ses_trial_t_81ec7c_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_ses_trial_t_81ec7c_idx ON public.therapy_sessiontrial USING btree (trial_type);


--
-- Name: therapy_sessiontrial_session_id_1484a479; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_sessiontrial_session_id_1484a479 ON public.therapy_sessiontrial USING btree (session_id);


--
-- Name: therapy_the_child_i_68b138_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_the_child_i_68b138_idx ON public.therapy_therapysession USING btree (child_id, session_date);


--
-- Name: therapy_the_created_762a56_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_the_created_762a56_idx ON public.therapy_therapysession USING btree (created_at);


--
-- Name: therapy_the_status_a0aaa9_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_the_status_a0aaa9_idx ON public.therapy_therapysession USING btree (status);


--
-- Name: therapy_the_therapi_d5b668_idx; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_the_therapi_d5b668_idx ON public.therapy_therapysession USING btree (therapist_id, session_date);


--
-- Name: therapy_therapysession_child_id_25b7d6cb; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_therapysession_child_id_25b7d6cb ON public.therapy_therapysession USING btree (child_id);


--
-- Name: therapy_therapysession_therapist_id_c6ca3c9e; Type: INDEX; Schema: public; Owner: dhyan
--

CREATE INDEX therapy_therapysession_therapist_id_c6ca3c9e ON public.therapy_therapysession USING btree (therapist_id);


--
-- Name: accounts_user_groups accounts_user_groups_group_id_bd11a704_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_group_id_bd11a704_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_user_id_52b62117_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_52b62117_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_permission_id_113bb443_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_permission_id_113bb443_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_user_id_e4f0a161_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_user_id_e4f0a161_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_userrole accounts_userrole_role_id_9448d870_fk_accounts_role_id; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_userrole
    ADD CONSTRAINT accounts_userrole_role_id_9448d870_fk_accounts_role_id FOREIGN KEY (role_id) REFERENCES public.accounts_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_userrole accounts_userrole_user_id_eba3c754_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.accounts_userrole
    ADD CONSTRAINT accounts_userrole_user_id_eba3c754_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: patients_childprofile patients_childprofile_user_id_25b77335_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.patients_childprofile
    ADD CONSTRAINT patients_childprofile_user_id_25b77335_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: patients_guardian patients_guardian_child_profile_id_b689a2e4_fk_patients_; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.patients_guardian
    ADD CONSTRAINT patients_guardian_child_profile_id_b689a2e4_fk_patients_ FOREIGN KEY (child_profile_id) REFERENCES public.patients_childprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: patients_therapistchildassignment patients_therapistch_child_user_id_1909865b_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.patients_therapistchildassignment
    ADD CONSTRAINT patients_therapistch_child_user_id_1909865b_fk_accounts_ FOREIGN KEY (child_user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: patients_therapistchildassignment patients_therapistch_therapist_id_f6e631cb_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.patients_therapistchildassignment
    ADD CONSTRAINT patients_therapistch_therapist_id_f6e631cb_fk_accounts_ FOREIGN KEY (therapist_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: speech_asrjob speech_asrjob_created_by_id_b60ba9d2_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.speech_asrjob
    ADD CONSTRAINT speech_asrjob_created_by_id_b60ba9d2_fk_accounts_user_id FOREIGN KEY (created_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: speech_asrjob speech_asrjob_trial_id_a3c09c90_fk_therapy_sessiontrial_id; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.speech_asrjob
    ADD CONSTRAINT speech_asrjob_trial_id_a3c09c90_fk_therapy_sessiontrial_id FOREIGN KEY (trial_id) REFERENCES public.therapy_sessiontrial(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: speech_speechtrialaudio speech_speechtrialau_trial_id_a26155e0_fk_therapy_s; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.speech_speechtrialaudio
    ADD CONSTRAINT speech_speechtrialau_trial_id_a26155e0_fk_therapy_s FOREIGN KEY (trial_id) REFERENCES public.therapy_sessiontrial(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: speech_speechtrialaudio speech_speechtrialau_uploaded_by_id_d759d5d4_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.speech_speechtrialaudio
    ADD CONSTRAINT speech_speechtrialau_uploaded_by_id_d759d5d4_fk_accounts_ FOREIGN KEY (uploaded_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: speech_speechtrialmeta speech_speechtrialme_trial_id_cbb4a2a2_fk_therapy_s; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.speech_speechtrialmeta
    ADD CONSTRAINT speech_speechtrialme_trial_id_cbb4a2a2_fk_therapy_s FOREIGN KEY (trial_id) REFERENCES public.therapy_sessiontrial(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: therapy_observation therapy_observation_session_id_af611a03_fk_therapy_t; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.therapy_observation
    ADD CONSTRAINT therapy_observation_session_id_af611a03_fk_therapy_t FOREIGN KEY (session_id) REFERENCES public.therapy_therapysession(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: therapy_observation therapy_observation_therapist_id_83e4b7dd_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.therapy_observation
    ADD CONSTRAINT therapy_observation_therapist_id_83e4b7dd_fk_accounts_user_id FOREIGN KEY (therapist_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: therapy_observation therapy_observation_trial_id_fdf13170_fk_therapy_s; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.therapy_observation
    ADD CONSTRAINT therapy_observation_trial_id_fdf13170_fk_therapy_s FOREIGN KEY (trial_id) REFERENCES public.therapy_sessiontrial(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: therapy_sessiontrial therapy_sessiontrial_session_id_1484a479_fk_therapy_t; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.therapy_sessiontrial
    ADD CONSTRAINT therapy_sessiontrial_session_id_1484a479_fk_therapy_t FOREIGN KEY (session_id) REFERENCES public.therapy_therapysession(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: therapy_therapysession therapy_therapysessi_child_id_25b7d6cb_fk_patients_; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.therapy_therapysession
    ADD CONSTRAINT therapy_therapysessi_child_id_25b7d6cb_fk_patients_ FOREIGN KEY (child_id) REFERENCES public.patients_childprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: therapy_therapysession therapy_therapysessi_therapist_id_c6ca3c9e_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: dhyan
--

ALTER TABLE ONLY public.therapy_therapysession
    ADD CONSTRAINT therapy_therapysessi_therapist_id_c6ca3c9e_fk_accounts_ FOREIGN KEY (therapist_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict RZPavV5k75AcN2uKN7ObBKbwKY9OEvd6Hv5KrHJ4GDGMiUqap4yfQ82YXsQDFu5

